{% load staticfiles %}

<!DOCTYPE html>


    <html>

        <head>
            <title>Pets list</title>
        </head>

        <body>
          <img src="{% static 'images/cats_with_fire.jpg' %}"
               alt="Picture of a cat with fire" />
            <h1>All the cats are:</h1>
                <div>
                        <ul>
                            {% for pet in pets %}
                                <li>
                                    {{ pet.name }}
                                </li>
                            {% endfor %}
                        </ul>
                </div>
            <div>
                Click to go back to
                <a href="/cat_app/">Home</a><br />
            </div>
        </body>
    </html>
